/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #1aac83;
  color: #fff;
  padding: 8px 0;
}
/* .container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.logo-link {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

.logo-khotian {
  color: #02100cc7; /* Color for 'Khotian' */
}

.logo-syncer {
  color: #ffffffe9; /* Color for 'Syncer' */
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


header a {
  color: #333;
  text-decoration: none;
}

nav {
  display: flex;
}

nav div {
  display: flex;
}

nav a {
  color: #f6f5f5;
  text-decoration: none;
  padding: 0 15px;
  font-weight: bold;
}



nav button {
  background-color: transparent;
  color: #ffffff; 
  padding: 10px 15px;
  border: 1px solid #fcfcfc; 
  border-radius: 0px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
  font-size: 1rem;
  border: none;
  outline: none;
  padding :10px 12px;
}

nav button:hover {
  background-color: #0a8050bc; /* Red background on hover */
  color: #ffffff; /* White text on hover */
}

/* Add styles for the user email span */
nav div span {
  margin-right: 15px; /* Add some margin to separate email and logout button */
  font-weight: bold;
  color: #e8e4e4; /* Choose the color that matches your design */
}

/* Add styles for the logout button */


.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
/* homepage */
.home {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Adjusted the grid-template-columns */
  gap: 50px; /* Adjusted the gap */
}

.khotian-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 10px; /* Reduced the padding */
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease-in-out;
}

.khotian-details:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.khotian-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.khotian-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.khotian-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* Add this CSS to your stylesheet or component */

.create {
  max-width: 310px;
  margin: 54px 20px 20px 0; /* Adjusted the right margin to 0 */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-height: 550px;
  height: auto;
  overflow-y: auto;
}

.create select {
  width: 100%;
  padding: 10px;
  margin-bottom: 17px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.create option {
  padding: 10px;
}



.create h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.create label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.create input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.create button {
  width: 100%;
  background-color: #1aac83;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.create button:hover {
  background-color: #168f63;
}

.error {
  color: #e7195a;
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}

.success {
  color: #08b124;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

/* Add this CSS to your stylesheet or component */

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  margin:20px;
  padding: 8px 7px;
  background-color: #e7195a; /* Red color for delete button */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.delete-btn:hover {
  background-color: #08b06f; /* Darker shade on hover */
}

/* Shared styles for signup and login forms */
.auth-form {
  max-width: 400px;
  margin: 130px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.auth-form:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Change box-shadow on hover */
}

.auth-form h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.auth-form label {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: transform 0.3s, font-size 0.3s, color 0.3s;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.auth-form input:focus + label,
.auth-form input:not(:placeholder-shown) + label {
  transform: translateY(-20px);
  font-size: 12px;
  color: #1aac83; /* Change color to match your design */
}



.auth-form input:focus {
  padding: 12px; /* Increase padding when input is focused */
  border-width: 2px; /* Increase border width when input is focused */
}


.auth-form button {
  background-color: #1aac83;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.auth-form button:hover {
  background-color: #168f63;
}

nav div button,
nav div a {
  background-color: transparent;
  color: #ffff; /* Red color for text */
  padding: 8px 10px;
  border: transparent; /* Red border for the button */
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 15px; /* Add some margin between buttons */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
}

nav div button:hover,
nav div a:hover {
  background-color: #0a8050bc; /* Red background on hover */
  color: #fff; /* White text on hover */
}

/*extra*/
.filter-container {
  max-width: 150px;
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
}

.filter-container label {
  font-weight: bold;
  margin-bottom: 6px;
  color: #555;
}

.filter-container select {
  flex: 1; /* Use flex property to distribute available space equally between the selects */
  max-width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 6px; /* Add margin to create space between the selects */
}



/* Optional: Add styles for the options */
.filter-container option {
  color: #e31212;
}





/* Optional: Style the select on hover */
.filter-container select:active,select:hover {
  border-color: #1aac83; /* Highlight border color on hover */
  color: #1aac83;

}

/* Add these styles to your existing CSS or create a new style block */
/* Add these styles to your existing CSS or create a new style block */
.username-container {
  display: flex;
  align-items: center;
}

.username {
  font-weight: bold;
  color: #fcfdfd; /* Choose a color that matches your design */
  text-transform: capitalize; /* Capitalize the text */
  font-size: 16px; /* Adjust the font size as needed */
  margin-right: 8px; /* Adjust the margin as needed */
}

/* Add these styles to your existing CSS or create a new style block */


.material-symbols-outlined {
  
  margin-right:  auto; /* Add margin to the right for spacing */
  background-color: transparent; /* Logout button background color */
  color: #ffffff; /* Logout button text color */
  padding: 12px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* Add these styles to your existing CSS or create a new style block */

/* Add these styles to your existing CSS or create a new style block */

/* Add these styles to your existing CSS or create a new style block */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px; /* Adjust the gap as needed */
}

.profile-card,
.profile-customize-card {
  flex: 1;
}

.profile-card {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto; /* Adjust margin as needed */
  padding: 60px; /* Increase padding for better appearance */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  max-width: 700px; /* Adjust the maximum width as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.02); /* Increase the size on hover */
}

.profile-card h2 {
  margin: 20px 0; /* Adjust margin for better spacing */
  font-size: 2em; /* Increase font size */
  color: var(--primary);
}

.profile-card p {
  margin: 10px 0; /* Adjust margin for better spacing */
  font-size: 1.3em; /* Increase font size */
  color: #555;
}

.profile-card strong {
  font-weight: bold;
  color: var(--primary); /* Adjust the color to match your design */
}

.profile-card .username-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Adjust margin for better spacing */
}

.profile-card .username {
  font-weight: bold;
  color: #fcfdfd; /* Choose a color that matches your design */
  text-transform: capitalize; /* Capitalize the text */
  font-size: 24px; /* Increase font size */
  margin-right: 8px; /* Adjust the margin as needed */
}

.profile-customize-card {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  background: #fff;
  border-radius: 4px;
  margin: 20px auto; /* Adjust margin as needed */
  padding: 60px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  max-width: 600px; /* Adjust the maximum width as needed */
}

.profile-customize-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.02); /* Increase the size on hover */
}


.profile-customize-card h1 {

  margin: 20px 0;
  font-size: 1.6em;
  color: #02100cc7;
}

.profile-customize-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-customize-card li {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #555;
}

.profile-customize-card strong {
  font-weight: bold;
  color: var(--primary); /* Adjust the color to match your design */
}

.profile-customize-card .logo-khotian {
  
  color: #02100cc7; /* Color for 'Khotian' */
}

.profile-customize-card form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-customize-card label {
  margin-bottom: 5px;
  font-size: 1.2em;
  color: #555;
}

.profile-customize-card input {
  flex: 1; /* Use flex property to distribute available space equally among input fields */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  width: 450px;
   /* Ensure 100% width within the flex container */
}

.profile-customize-card button{
  width: 100%;
  background-color: #1aac83;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.profile-customize-card button:hover{
    background-color: #168f63;
  
}

.edit-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px ; /* Add margin for spacing */
  padding: 8px 16px; /* Adjust padding as needed */
  background-color: #1aac83;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.edit-btn:hover {
  background-color: #168f63;
}

.cancel-btn{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px ; /* Add margin for spacing */
  padding: 8px 16px; /* Adjust padding as needed */
  background-color: #e7195a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cancel-btn:hover {
  background-color: #a6083a;
}

.edit-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.edit-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.edit-form input,
.edit-form textarea,
.edit-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit-form button {
  width: 100%;
  background-color: #1aac83;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.edit-form button:hover {
  background-color: #168f63;
}

.react-calendar { 
  max-width: 315px;
  margin: 50px 20px 20px 0; /* Adjusted the right margin to 0 */
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-height: 550px;
  height: auto;
  overflow-y: auto;
}

/* Add this to your stylesheet or in the style tag of your React component */
.react-calendar .markedDate {
  background-color: #1aac83; /* Red with 30% opacity */
  
}

.slideout-sidebar {
  position: fixed;
  top: 0;
  left: -190px;
  z-index: 1000;
  width: 150px;
  height: 100%;
  padding: 20px;
  background-color: #1aac83;
  transition: all 300ms ease-in-out;
}

.slideout-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideout-sidebar ul li {
  cursor: pointer;
  padding: 18px 0;
  border-bottom: 1px solid rgba(244,244,244,0.4);
  color: #f6f5f5;
}

.slideout-sidebar ul li:last-child {
  border-bottom: 0;
}

.slideout-sidebar ul li:hover {
  color: #02100cc7;
}

/* -- Menu Icon -- */

#menu-toggle {
  display: none;
}

.menu-icon {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 24px;
  z-index: 1;
  transition: all 300ms ease-in-out;
}



/*-- The Magic --*/
#menu-toggle:checked ~ .slideout-sidebar {
  left: 0px;
}

#menu-toggle:checked + .menu-icon {
  left: 210px;
}

#menu-toggle:checked ~ .content-container {
  padding-left: 190px;
}

/* -- Media Queries -- */

@media (max-width: 991px) {
  
  .content-container {
    max-width: 480px;
  }
  
}

@media (max-width: 767px) {
  
  .content-container {
    max-width: 100%;
    margin: 30px auto 0;
  }
  
  #menu-toggle:checked ~ .content-container {
    padding-left: 0;
  }
  
  .slideout-sidebar ul {
    text-align: center;
    max-width: 200px;
    margin: 30px auto 0;
  }
  
  .menu-icon {
    left: 20px
  }
  
  #menu-toggle:checked ~ .slideout-sidebar {
    width: 100%;
  }
  
  #menu-toggle:checked + .menu-icon {
    left: 87%;
    color: #fafafa;
  }
  
  @media screen  
    and (max-width: 736px) 
    and (orientation: landscape) {
      
      .slideout-sidebar {
        padding: 0;
      }
      
      .slideout-sidebar ul {
        max-width: 100%;
        margin: 60px auto 0;
      }
      
      .slideout-sidebar ul li {
        display: inline-block;
        border-bottom: 0;
        width: 72px;
        padding: 18px 24px;
        margin: 0 6px 12px;
        color: #ffffff;
        background-color: #777;
      }

  }
  
}

.sidebarLink{
  color: #f6f5f5;
}
.sidebarLink:hover{
  color: #02100cc7;
}

/* Add this CSS to your existing stylesheet or component */

.resource-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: flex-start; /* Align items to the start of the container */
  margin-top: 30px; /* Add some top margin for spacing */
  gap: 20px;
}


.resource-card {
  background: #fff;
  border-radius: 4px;
  margin-right: 20px; /* Add margin to create space between cards */
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease-in-out;
  color: #1aac83; /* Set the text color to #1aac83 */
  flex: 0 0 auto; /* Allow the cards to take the content's natural width */
  width: 240px; /* Set a wider fixed width for each card */
  height: 288px; /* Set a taller fixed height for each card */
  box-sizing: border-box;
  aspect-ratio: 1 / 1.2; /* Maintain a 1:1.2 aspect ratio for each card */
}

/* Optional: Remove the margin from the last card to prevent extra spacing */
.resource-card:last-child {
  margin-right: 0;
}

.resource-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.resource-card h2 {
  margin: 0 0 10px 0;
  font-size: 1.5em; /* Increase the font size for the heading */
  color: var(--primary);
}

.resource-card p {
  margin: 0;
  font-size: 1.1em; /* Increase the font size for the paragraph */
  color: #555;
}

.resource-card span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* Add this to your existing CSS or create a new style block */
.resource-link {
  text-decoration: none;
  color: #1aac83; /* Set the color for the link */
  transition: color 0.3s ease-in-out; /* Add a smooth color transition on hover */
}

.resource-link:hover {
  color: #168f63; /* Change color on hover */
}

/* ResourceLink.css */

.custom-link {
  color: #1aac83; /* Replace with your desired color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Add transition for smooth hover effect */

}

.custom-link:hover {
  color: #e7195a; /* Replace with your desired hover color */
}

/* SeniorResourceForm.css */

/* Form container */
/* Update the form container styles */
.add-resource-link-button {
  background-color: #1aac83;
  color: #fff;
  margin-bottom: 10px;
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.add-resource-link-button:hover {
  background-color: #168f63;
}

/* Add this CSS to your stylesheet */



.searchbar {
  width: 240px;
  position: relative;
  margin-left: 2rem; /* Adjust the margin as needed */
  padding: 10px; /* Adjust the padding as needed */
  border: 1px solid #ddd;
  border-radius: 4px;
  background-size: 20px auto;
  background-color: #fff; /* Background color */
}

/* You can add more styles as needed, such as focus styles */
.searchbar:focus {
  outline: none; /* Remove the default outline on focus */
  border-color: #3498db; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Add a subtle box shadow on focus */
}


/* Styles for the outermost container */
.form-container-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for the form container */
.form-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Adjust the width as needed */
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container button {
  width: 100%;
  padding: 8px;
  background-color: #1aac83;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.form-container button.cancel-button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background-color: #e7195a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.form-container button:hover {
  background-color: #158357;
}
.form-container button.cancel-button:hover {
  background-color: #bf0741;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  color: green;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.headings{
  color:#02100cc7;
}

/* Add these styles to your ClassRoutine.css file */

.routine-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
}

.routine-container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.0002); /* Increase the size on hover */
}



.routine-title {
  text-align: center;
  margin-bottom: 20px;
  color: #1aac83;
}

.routine-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.routine-table th,
.routine-table td {
  padding: 20px; /* Increase padding for cells */
  text-align: center;
  border: 2px solid #ddd;
  font-size: 18px; /* Increase font size for cells */
}

.routine-table th {
  background-color: #1aac83;
}

.routine-table .has-class {
  background-color: #fff;
}

.class-cell-container button.edit-button {
  
  background-color: #1aac83;
  color: #fff;
  padding: 3px 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
  margin-top: auto; /* Move the button to the bottom */
  margin-left: auto; /* Move the button to the right */
  display: block; /* Ensure the button takes full width */
}

.class-cell-container button.edit-button:hover {
  background-color: #bf0741;
}

.class-cell-container button.save-button{
  background-color: #1aac83;
  color: #fff;
  padding: 3px 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.class-cell-container button.save-button:hover {
  background-color: #0e8b68;
}

.class-cell-container button.cancel-button{
  background-color: #c8134c;
  color: #fff;
  padding: 3px 4px;
  margin-left: 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.class-cell-container button.cancel-button:hover {
  background-color: #9d0837;
}

.class-cell-container input {
  width: 100%;
  padding: 5px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Add these styles to your stylesheet */

.highlighted {
  background-color: yellow;
  /* You can customize the background color as per your design */
  border: 2px solid #ffcc00; /* Add a border for better visibility */
  box-shadow: 0 0 5px rgba(255, 204, 0, 0.5); /* Add a subtle box shadow */
}

.routineSearch input{
  width: 20%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.post-container {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
}

.post-header {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.post-header h2 {
  margin: 0;
  font-size: 1.2em;
}

.post-content {
  padding: 20px;
}

.post-content p {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.post-likes span {
  font-size: 1em;
  color: #333;
}

.post-likes button {
  background-color: #1aac83;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.post-likes button:hover {
  background-color: #168f63;
}

.post-comments {
  flex-grow: 1;
  margin-left: 20px;
}

.post-comments h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.post-comments ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-comments li {
  font-size: 1em;
  color: #555;
}

.post-form {
  display: flex;
  justify-content: space-between;
}

.post-form textarea {
  width: 90%;
  padding: 35px;
  margin-bottom: 5px;
}

.post-form button {
  margin-bottom: 35px;
  margin-right: 5px;
  background-color: #1aac83;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.post-form button.cancel-button {
  
  background-color: #e7195a; /* Use a color of your choice for the cancel button */
}

.post-form button:hover {
  background-color: #168f63;
}

.post-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.post-container h2 {
  margin-bottom: 10px;
  color: #1aac83;
}

.post-container p {
  margin-bottom: 10px;
  color: #555;
}

.post-container span {
  color: #333;
}

.writePostDiv{
  margin-bottom: 15px;
}

.post-comments button {
  background-color: #1aac83;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.post-comments li {
  margin-top: 10px;
}

.post-comments button:hover {
  background-color: #168f63;
}

.add-comment {
  display: flex;
  margin-top: 14px;
}

.add-comment textarea {
  
  flex: 0.3; /* Use flex property to distribute available space equally among input fields */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  height: 40px;
  width: 100px;
}

.post-content textarea{
  flex: 1; /* Use flex property to distribute available space equally among input fields */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  height: 35px;
  width: 650px;
}

.post-content button{
  background-color: #1aac83;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  margin-left: 590px;
  transition: background-color 0.3s ease-in-out;
}

.add-comment button {
  height: 40px; /* Set the same height as the textarea */
  margin-left: 5px;
  padding: 0 15px; /* Add padding to the button */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.delete-post-button-container {
  height: 1px;
  position: relative;
  left: 86.9%;
}

.delete-post-button {
  background-color: #e7195a;
  color: #fff;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.delete-post-button:hover {
  background-color: #9d0837;
}

.edit-post-button {
  margin-left: 2px;
  background-color: #1aac83;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.edit-post-button:hover {
  background-color: #168f63;
}


























