/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #1aac83;
  color: #fff;
  padding: 10px 0;
}
/* .container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.logo-link {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

.logo-khotian {
  color: #02100cc7; /* Color for 'Khotian' */
}

.logo-syncer {
  color: #ffffffe9; /* Color for 'Syncer' */
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}

nav {
  display: flex;
}

nav div {
  display: flex;
}

nav a {
  color: #f6f5f5;
  text-decoration: none;
  padding: 0 15px;
  font-weight: bold;
}



nav button {
  background-color: transparent;
  color: #ffffff; 
  padding: 10px 15px;
  border: 1px solid #fcfcfc; 
  border-radius: 0px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
  font-size: 1rem;
  border: none;
  outline: none;
  padding :10px 12px;
}

nav button:hover {
  background-color: #0a8050bc; /* Red background on hover */
  color: #ffffff; /* White text on hover */
}

/* Add styles for the user email span */
nav div span {
  margin-right: 15px; /* Add some margin to separate email and logout button */
  font-weight: bold;
  color: #e8e4e4; /* Choose the color that matches your design */
}

/* Add styles for the logout button */


.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
/* homepage */
.home {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Adjusted the grid-template-columns */
  gap: 50px; /* Adjusted the gap */
}

.khotian-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 10px; /* Reduced the padding */
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease-in-out;
}

.khotian-details:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.khotian-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.khotian-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.khotian-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* Add this CSS to your stylesheet or component */

.create {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-height: 550px; /* Adjust the maximum height as needed */
  height: auto;
  overflow-y: auto; /* Add scroll if content exceeds max-height */
}

.create select {
  width: 100%;
  padding: 10px;
  margin-bottom: 17px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.create option {
  padding: 10px;
}



.create h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.create label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.create input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.create button {
  width: 100%;
  background-color: #1aac83;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.create button:hover {
  background-color: #168f63;
}

.error {
  color: #e7195a;
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}

.success {
  color: #08b124;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

/* Add this CSS to your stylesheet or component */

span.delete-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #e7195a; /* Red color for delete button */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

span.delete-btn:hover {
  background-color: #08b06f; /* Darker shade on hover */
}

/* Shared styles for signup and login forms */
.auth-form {
  max-width: 400px;
  margin: 130px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.auth-form:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Change box-shadow on hover */
}

.auth-form h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.auth-form label {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: transform 0.3s, font-size 0.3s, color 0.3s;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.auth-form input:focus + label,
.auth-form input:not(:placeholder-shown) + label {
  transform: translateY(-20px);
  font-size: 12px;
  color: #1aac83; /* Change color to match your design */
}



.auth-form input:focus {
  padding: 12px; /* Increase padding when input is focused */
  border-width: 2px; /* Increase border width when input is focused */
}


.auth-form button {
  background-color: #1aac83;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.auth-form button:hover {
  background-color: #168f63;
}

nav div button,
nav div a {
  background-color: transparent;
  color: #ffff; /* Red color for text */
  padding: 8px 10px;
  border: transparent; /* Red border for the button */
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 15px; /* Add some margin between buttons */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
}

nav div button:hover,
nav div a:hover {
  background-color: #0a8050bc; /* Red background on hover */
  color: #fff; /* White text on hover */
}

/*extra*/
.filter-container {
  max-width: 150px;
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
}

.filter-container label {
  font-weight: bold;
  margin-bottom: 6px;
  color: #555;
}

.filter-container select {
  flex: 1; /* Use flex property to distribute available space equally between the selects */
  max-width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 6px; /* Add margin to create space between the selects */
}



/* Optional: Add styles for the options */
.filter-container option {
  color: #e31212;
}





/* Optional: Style the select on hover */
.filter-container select:active,select:hover {
  border-color: #1aac83; /* Highlight border color on hover */
  color: #1aac83;

}

/* Add these styles to your existing CSS or create a new style block */
/* Add these styles to your existing CSS or create a new style block */
.username-container {
  display: flex;
  align-items: center;
}

.username {
  font-weight: bold;
  color: #fcfdfd; /* Choose a color that matches your design */
  text-transform: capitalize; /* Capitalize the text */
  font-size: 16px; /* Adjust the font size as needed */
  margin-right: 8px; /* Adjust the margin as needed */
}

/* Add these styles to your existing CSS or create a new style block */


.material-symbols-outlined {
  
  margin-right:  auto; /* Add margin to the right for spacing */
  background-color: transparent; /* Logout button background color */
  color: #ffffff; /* Logout button text color */
  padding: 12px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* Add these styles to your existing CSS or create a new style block */

/* Add these styles to your existing CSS or create a new style block */

/* Add these styles to your existing CSS or create a new style block */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px; /* Adjust the gap as needed */
}

.profile-card,
.upcoming-assessments-card {
  flex: 1;
}

.profile-card {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto; /* Adjust margin as needed */
  padding: 200px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease-in-out;
  max-width: 700px; /* Adjust the maximum width as needed */
}

.profile-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.profile-card h2 {
  margin: 0 0 20px 0;
  font-size: 1.8em;
  color: var(--primary);
}

.profile-card p {
  margin: 0;
  font-size: 1.1em;
  color: #555;
}

.profile-card strong {
  font-weight: bold;
  color: var(--primary); /* Adjust the color to match your design */
}

.profile-card .username-container {
  display: flex;
  align-items: center;
}

.profile-card .username {
  font-weight: bold;
  color: #fcfdfd; /* Choose a color that matches your design */
  text-transform: capitalize; /* Capitalize the text */
  font-size: 18px; /* Adjust the font size as needed */
  margin-right: 8px; /* Adjust the margin as needed */
}

.upcoming-assessments-card {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto; /* Adjust margin as needed */
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease-in-out;
  max-width: 600px; /* Adjust the maximum width as needed */
}

.upcoming-assessments-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.upcoming-assessments-card h1 {
  margin: 0 0 20px 0;
  font-size: 1.8em;
  color: var(--primary);
}

.upcoming-assessments-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.upcoming-assessments-card li {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #555;
}

.upcoming-assessments-card strong {
  font-weight: bold;
  color: var(--primary); /* Adjust the color to match your design */
}

.upcoming-assessments-card .logo-khotian {
  color: #02100cc7; /* Color for 'Khotian' */
}







